<html>

<head>
    <title>Student Portal</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <center>
        <h1>
            <%= title %>
        </h1>
    </center>

    <br>

    <div class="container">
        <div class="register">
            <h2>Register</h2>
            <form action="/register" method="post">
                <table>
                    <tr>
                        <td>Student ID:</td>
                        <td><input type="text" name="studid"></td>
                    </tr>
                    <tr>
                        <td>Name:</td>
                        <td><input type="text" name="name"></td>
                    </tr>
                    <tr>
                        <td>Age:</td>
                        <td><input type="text" name="age"></td>
                    </tr>
                    <tr>
                        <td>Gender:</td>
                        <td><input type="text" name="gender"></td>
                    </tr>
                    <tr>
                        <td>Dept:</td>
                        <td><input type="text" name="dept"></td>
                    </tr>
                    <tr>
                        <td>Address:</td>
                        <td><input type="text" name="address"></td>
                    </tr>
                    <tr>

                    </tr>
                    <tr>
                        <td colspan="2"><input type="submit" value="Register"></td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="update">
            <h2>Update</h2>
            <form action="/update?_method=PATCH" method="post">
                <input type="hidden" name="_method" value="PATCH">
                <table>
                    <tr>
                        <td>Student ID:</td>
                        <td><input type="text" name="studid"></td>
                    </tr>
                    <tr>
                        <td>Name:</td>
                        <td><input type="text" name="name"></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="submit" value="Update"></td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="delete">
            <h2>Delete</h2>
            <form action="/delete?_method=DELETE" method="post">
                <input type="hidden" name="_method" value="DELETE">

                <table>
                    <tr>
                        <td>Student ID:</td>
                        <td><input type="text" name="studid"></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="submit" value="Delete"></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>


    <div class="student-data">
        <h4>Student Data:</h4>
        <table border="1">
            <thead>
                <td>Student ID</td>
                <td>Name</td>
                <td>Age</td>
                <td>Gender</td>
                <td>Dept</td>
                <td>Address</td>
            </thead>
            <% for(var i=0; i < data.length; i++){ %>
                <tr style="padding: 4px;">
                    <td>
                        <%= data[i].STUDENT_ID %>
                    </td>
                    <td>
                        <%= data[i].NAME %>
                    </td>
                    <td>
                        <%= data[i].AGE %>
                    </td>
                    <td>
                        <%= data[i].GENDER %>
                    </td>
                    <td>
                        <%= data[i].DEPT %>
                    </td>
                    <td>
                        <%= data[i].ADDRESS %>
                    </td>
                </tr>
                <% } %>
        </table>
    </div>

</body>

</html>